AdminRights/config.yaml
StaleAccounts/config.yaml
AdminRights/test.py
AdminRights/output.txt
AdminRights/__pycache__
StaleAccounts/__pycache__
ThreatIntelligence/config.yaml
ThreatIntelligence/__pycache__
ThreatIntelligence/actor_details.xlsx
ThreatIntelligence/scanSharepoint.py
EndPoint/config.yaml
sendEmail.py
travelAdvisory.py
travelAdvisory1.py
EndPoint/alerts.csv
EndPoint/behaviors.csv
EndPoint/detections.csv
EndPoint/incidents.csv
SCCM_inventory
WindowsScan/__pycache__
WindowsScan/config.yaml 
